.personal-main-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .personal-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-field {
    margin: 8px 0;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .form-container {
      padding: 8px;
      margin: 8px;
    }
  
    .form-field {
      margin: 6px 0;
    }
  }